*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Space Grotesk", sans-serif;
}

.container{
  max-width: 400px;
  margin: 50px auto;
}

.profile{
  text-align: center;
}

.sosials{
  margin: 30px auto 20px;
}

.sosials a{
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 0.8em;
  display: inline-block;
  line-height: 25px;
  border:1px solid black;
  margin-right: 10px;
  text-align: center;
}

.sosials a:hover{
  background-color: white;
  color: black;
}

.link{
  list-style: none;
  padding: 0;
}

.link li {
  margin: 10px 0;
  border: 1px solid black;
  display: flex;
  align-items: center;         
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 25px;
  font-size: 0.9em;
  color: black;
  gap: 10px;
}

.link li:hover {
  background-color: black;
  color: white;
}

.link li img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.link li .text {
  flex: 1;            
  text-align: left;   
  margin-left: 8px;   
}

.link li .arrow {
  font-weight: bold;
  margin-left: auto;  
}

.contact-form h2{
  text-align: center;
  margin-bottom: 10px;
}

.contact-form label{
  font-size: 15px;
  color: black;
  margin: 10px 0 5px;
  display: block;
}

.contact-form input{
  display: block;
  width: 100%;
  font-size: 0.8em;
  font-style: italic;
  border: 0px;
  border-bottom: 2px solid black ;
  padding: 5px;
}

.contact-form textarea{
  width: 100%;
  height: 90px;
  border: 0.8px solid #666;
  padding: 10px;
  margin: 10px 0 10px;
  font-style: oblique;
}

.contact-form button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 0.8em;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.contact-form button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

footer{
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}
